<!-- 
<!DOCTYPE html>
<html lang="es">
<head class="WPO">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link href="https://as.com/diarioas/2020/03/25/actualidad/1585120427_827700.html" rel="canonical" >
<link href="https://as.com/diarioas/2020/03/25/actualidad/1585120427_827700.amp.html" rel="amphtml" >
<meta property="og:url" content="https://as.com/diarioas/2020/03/25/actualidad/1585120427_827700.html" />
<meta property="og:site_name" content="AS.com" />
<meta name="twitter:site" content="@diarioas" />
<title> Mapa del coronavirus en el mundo, en tiempo real hoy, 25 de marzo: casos y muertos - AS.com</title>
<meta http-equiv=”Content-Language” content=”es”/>
<meta name="Description" content="Sigue en tiempo real la cifra de contagiados por COVID-19, así como los fallecidos a causa del brote de coronavirus en cada país. En total son ya más de 423.000 casos." />
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
<meta property="article:modified_time" content="2020-03-25T08:17:22+01:00" />
<meta property="article:published_time" content="2020-03-25T08:17:22+01:00" />
<meta name="DC.date.issued" content="2020-03-25T08:17:22+01:00" />
<meta name="date" content="2020-03-25T08:17:22+01:00" />
<meta property="article:section" content="actualidad" />
<meta property="article:tag" content="Medicina" />
<meta property="article:tag" content="Salud" />
<meta property="article:tag" content="Biología" />
<meta property="article:tag" content="Ciencias naturales" />
<meta property="article:tag" content="Pandemia" />
<meta property="article:tag" content="Coronavirus Covid-19" />
<meta property="article:tag" content="Ciencia" />
<meta property="article:tag" content="Coronavirus" />
<meta property="article:tag" content="Virología" />
<meta property="article:tag" content="Epidemia" />
<meta property="article:tag" content="Enfermedades infecciosas" />
<meta property="article:tag" content="Microbiología" />
<meta property="article:tag" content="Enfermedades" />
<meta property="og:title" content="Mapa del coronavirus en el mundo, en tiempo real hoy, 25 de marzo: casos y muertos" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Sigue en tiempo real la cifra de contagiados por COVID-19, así como los fallecidos a causa del brote de coronavirus en cada país. En total son ya más de 423.000 casos." />
<meta property="og:updated_time" content="2020-03-25T08:17:22+01:00" />
<meta name="twitter:creator" content="@diarioas" />
<meta property="og:image" content="https://as01.epimg.net/diarioas/imagenes/2020/03/25/actualidad/1585120427_827700_1585120480_noticia_normal.jpg" />
<meta name="twitter:image" content="https://as01.epimg.net/diarioas/imagenes/2020/03/25/actualidad/1585120427_827700_1585120480_noticia_normal.jpg" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Mapa del coronavirus en el mundo, en tiempo real hoy, 25 de marzo: casos y muertos" />
<meta name="twitter:description" content="Sigue en tiempo real la cifra de contagiados por COVID-19, así como los fallecidos a causa del brote de coronavirus en cada país. En total son ya más de 423.000 casos." />
<link rel="dns-prefetch" href="https://as01.epimg.net">
<script>
    function lzld(element){};
    var numSumarioGaleriaId = [];
 </script>
<script>
          var reloaders = [];
      </script>
<script type="text/javascript">var __g_twitter_via = "diarioas";</script><script type="text/javascript">
var confSocialNetworks = {
	url_callback: 'http://connect.prisadigital.com/connect/{network}/as/',
	urlRedirect: 'https://asfan.as.com/rrss',
	domain: 'as.com',
	defaultBackUrl:'http://as.com'
};
</script>
<script language="javaScript" type="text/javascript">
    var tags_listado_json = ["medicina_a","salud_a","biologia_a","ciencias_naturales_a","pandemia_a","covid_19_a","ciencia_a","coronavirus_a","virologia_a","epidemia_a","enfermedades_infecciosas_a","microbiologia_a","enfermedades_a"];
    var tags_listado_norm = 'medicina_a,salud_a,biologia_a,ciencias_naturales_a,pandemia_a,covid_19_a,ciencia_a,coronavirus_a,virologia_a,epidemia_a,enfermedades_infecciosas_a,microbiologia_a,enfermedades_a';
    var tags_listado_ids = '57568,71011,18370,23026,63276,202173,23019,133311,79236,29951,29425,58359,29409';
    var g_titulo_noticia = 'mapa del coronavirus en el mundo, en tiempo real hoy, 25 de marzo: casos y muertos';
        var listado_autores_id = '124179';
    var tags_listado_autores_json = ["diario_as_a"];
    var tags_listado_autores_norm = 'diario_as_a';
    var tags_listado_agr_id = '';
    var tags_listado_agr_json = [];
    var tags_listado_agr_norm = '';
    var g_noticia_clonada = 'original';
    var g_id_noticia = '1585120427_827700';
    var g_portal = 'diarioas';
    var g_seccion = 'actualidad';



    var tipologia_noticia = 'noticia';

    var ambito = 'noticia';
</script>
<script>
	var userAgent = navigator.userAgent.toLowerCase();
	var isIphone = false;
	var isIpad = false;
	if (userAgent.indexOf("iphone") > -1){
		isIphone = true
	}else{
	if (userAgent.indexOf("ipad") > -1)
		isIpad = true;
	}
	var iDevice = (isIphone || isIpad);
	var dispositivoMovil = iDevice || userAgent.indexOf("android") > -1 || userAgent.indexOf("mobile") > -1;

	function EPETBrowserDims()
	{	
		var viewportwidth = 0;
		var viewportheight = 0;
		if (typeof window.innerWidth != 'undefined') {
		viewportwidth = window.innerWidth,
		viewportheight = window.innerHeight
		}
		else if (typeof document.documentElement != 'undefined'
		&& typeof document.documentElement.clientWidth !=
		'undefined' && document.documentElement.clientWidth != 0) {
		viewportwidth = document.documentElement.clientWidth,
		viewportheight = document.documentElement.clientHeight
		}
		else {
		viewportwidth = document.getElementsByTagName('body')[0].clientWidth,
		viewportheight = document.getElementsByTagName('body')[0].clientHeight
		}
		if (dispositivoMovil && typeof document.documentElement != 'undefined' && typeof document.documentElement.clientWidth != 'undefined' && document.documentElement.clientWidth != 0)
		{
		viewportwidth = document.documentElement.clientWidth;
		viewportheight = document.documentElement.clientHeight;
		}
		return {"ancho" : viewportwidth , "alto" : viewportheight};
	}
</script>    
<script language="javaScript" type="text/javascript">
//<![CDATA[
	var protocolUrl = document.location.protocol;
	if(protocolUrl != "https:")
		protocolUrl = "http:";
	var url_cache            = protocolUrl + '//as02.epimg.net';
	var url_reproductor_epet = "/reproductores/playerAS_ns.swf";
	var publicidad_HTML5 = true;
	var postroll_HTML5 = true;
	var modoSiguientesVideos = 1;
	var marcado_logtrust = false;
	var mm_force_playlist = true;
	var PEPedition = 'CO';
//]]>
</script>
<script language="javaScript" type="text/javascript">
</script>
<script>
      var datosVideo_current = [];
    </script>
<script>
      as_omn_marcaje_forzado = {
        "eVar73": "test wpo (1)"
      }
    </script>
</head>

  <body class=" 
                                             ">
  

<div id="cuerpo_noticia" class="int-articulo">
<h3>Mapa de casos de coronavirus hoy, en vivo y en directo</h3>
<div id="sumario_1|video_streaming">
<div class="sum-html" id="video_streaming">
<p>
<iframe src="https://gisanddata.maps.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6" scrolling="no" marginheight="0" class="iframe-responsive" id="video_streaming1" width="100%" height="720" frameborder="0"></iframe>
</p>
</div>
</div>
<script src="jsFiles/SintomaFiebre.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Simple speed test</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <script src="../build/convnet.js"></script>

    <script>
      function logEvent(str) {
        console.log(str);
        var d = document.createElement("div");
        d.innerHTML = str;
        document.getElementById("result").appendChild(d);
      }

      n = 0;
      dtall = 0;
      function runExample() {
        var t0 = +new Date();
        layer.forward(x);
        //layer.backward();
        var t1 = +new Date();
        var diff = t1 - t0;
        dtall += diff;
        n++;

        logEvent(
          "ran example " +
            n +
            " in " +
            diff +
            "ms, estimated average = " +
            (dtall / n).toFixed(3) +
            "ms"
        );
      }

      function start() {
        // Conv Layer definition used in convnet benchmarks
        opt = {
          in_sx: 128,
          in_sy: 128,
          in_depth: 3,
          sx: 11,
          filters: 96,
          stride: 1,
          pad: 0
        };
        layer = new convnetjs.ConvLayer(opt);
        x = new convnetjs.Vol(128, 128, 3);

        run1i = setInterval(runExample, 5); // start
      }
    </script>
  </head>
  <body>
    <button onclick="start()">Convolution Test Start</button>
    <button onclick="window.clearInterval(run1i);">Stop</button>
    <div id="result"></div>
  </body>
</html>
